body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('/public/back.gif');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .calculator {
  margin: 15% auto;
  width: 300px;

  text-align: center;
} */
.custom-buttons {
  text-align: center;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
}

.custom-button {
  text-align: center;
  width: 30px;
  height: 30px;
  font-weight: bold;
  color: white;
  background-color: #cccccc00;
  margin-right: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #aaa;
}
#calculatorInput {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

}

.buttons Button {
  width: 100%;
  min-width: 118px;
  padding-bottom: 35px;
  cursor: pointer;
  font-size: 18px;
}

.result {
  font-size: 24px;
  margin-top: 10px;
}

